services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: sootio
    container_name: sootio
    ports:
      - "55771:55771"
    volumes:
      - sootio-data:/app/data  # Persist SQLite cache data
    networks:
      - sootio-network
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - LOG_LEVEL=error
    command: ["npm", "run", "standalone"]

    restart: always

volumes:
  sootio-data:  # Named volume for persistent data

networks:
  sootio-network:
    driver: bridge
    name: sootio-network
